@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --background-color: #232323;
    --color: #ebebeb;
    --second-color: #b8b8b8;
    --server-color: #0059A9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}

span.s-color {
    color: var(--server-color);
}

body {
    background-color: var(--background-color);
    overflow-x: hidden;
}

.header {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.header-head {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 20px);
    height: 100px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    padding: 10px 25px;
    margin: 10px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.server {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 25%;
    height: 100%;
}

.server-icon {
    width: 75px;
    height: 75px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;

    a img {
        width: 75px;
        height: 75px;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }
}

.server-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    .server-name {
        font-size: 20px;
        font-weight: 500;
        color: var(--color);
    }

    .server-description {
        font-size: 18px;
        font-weight: 450;
        color: var(--color);
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    height: 100%;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .4s ease;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
        -o-transition: all .4s ease;

        a {
            font-size: 16px;
            font-weight: 400;
            color: var(--color);
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 5px;

            i {
                font-size: 20px;
                font-weight: 300;
            }
        }
    }

    li:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    li.active {
        background-color: var(--server-color);
        padding: 10px 15px;
        border-radius: 16px;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }
}

.socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 25%;
    height: 100%;

    a {
        font-size: 22px;
        font-weight: 500;
        color: var(--color);
        transition: all .4s ease;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
        -o-transition: all .4s ease;

    }
}

.socials a:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.header-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
}

.header-header .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
        font-size: 50px;
        font-weight: 900;
        color: var(--color);
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        color: var(--color);
        margin-bottom: 15px;
    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        justify-content: center;
        font-size: 18px;
        gap: 10px;
        color: var(--color);
        font-weight: 400;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
        padding: 10px 25px;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
        cursor: pointer;
        transition: all .4s ease;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
        -o-transition: all .4s ease;

        i {
            font-size: 24px;
            font-weight: 500;
        }
    }

    a:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    margin: 50px 10px 10px 10px;
    border-radius: 16px;
    padding: 15px 25px;
    width: calc(100vw - 20px);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.footer .left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 100px;
    gap: 20px;
}

.left .server {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.left .copyright {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    p {
        font-size: 16px;
        font-weight: 400;
        color: var(--background-color);
    }
}

.footer .right {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}

.right .page-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sep {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color);
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 600;
}

.page-column ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    li {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            color: var(--color);

            i {
                font-size: 20px;
                font-weight: 400;
            }
        }
    }
}

.right .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}



/* RULES CSS PART */

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main .selector {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 10px 25px;
    margin: 50px 0;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        list-style: none;
    }
}

.selector ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 400;
        gap: 5px;
        border: none;
        color: var(--color);
        background-color: var(--background-color);
        padding: 10px 25px;
        appearance: none;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
        cursor: pointer;
        transition: all .4s ease;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
        -o-transition: all .4s ease;
    }

    button:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

    button.active {
        background-color: var(--server-color);
    }
}

.rules {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    flex-direction: column;
    margin: 0 20px;
    width: calc(100vw - 40px);
    padding: 15px 25px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.rules.hide {
    display: none;
}

.rules .separator {
    color: var(--server-color);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.rules .rules-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.rules-text p,
.rules-text div {
    font-size: 18px;
    font-weight: 400;
    color: var(--color);
}

.rules-text div ul {
    margin-left: 60px;

    li {
        font-size: 18px;
        font-weight: 400;
        color: var(--color);
    }
}

span.rules-num {
    font-size: 19px;
    font-weight: 400;
    color: var(--server-color);
    margin-left: 20px;
}

span.rules-addnum {
    font-size: 19px;
    font-weight: 400;
    color: var(--server-color);
    margin-left: 40px;
}

span.rules-punish {
    font-size: 18px;
    font-weight: 400;
    color: #ac0404;
}

.ip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    padding: 15px 25px;
    background-color: var(--server-color);
    color: var(--color);
    font-size: 18px;
    font-weight: 450;
    gap: 20px;
    border: none;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

.ip:hover {
    background-color: #317DC4;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.notify {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    top: -150px;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
}

.notify-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background-color);
    padding: 20px 30px;
    min-width: 300px;
    max-width: max-content;
    gap: 10px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.notify-text {
    font-size: 18px;
    font-weight: 350;
    color: var(--color);
}